.item-swiper-container {
  width: 100%;
  margin-top: 40px;
  overflow: visible;
}

.item-swiper-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.item-swiper-slide {
  height: 100%;
  overflow: hidden;
}

.item-swiper-list {
  display: flex;
  height: 100%;
  gap: 20px;
}

.item-swiper-item {
  width: auto;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.carousel-button {
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 48px;
  height: 48px;
  border: 1px solid #dcdee4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 0.2rem 1.2rem -0.4rem !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  z-index: 10000 !important;
}

.prev-button {
  left: -24px;
  background: url(https://openimage.interpark.com/UI/tour/pages/main/slide_arrow.svg) no-repeat 50%;
  transform: rotate(180deg);
}

.next-button {
  right: -24px;
  background: url(https://openimage.interpark.com/UI/tour/pages/main/slide_arrow.svg) no-repeat 50%;
}
