.item-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
}

.loading-indicator {
  height: 50px; /* 높이를 명시적으로 설정 */
  width: 100%;
  text-align: center;
  line-height: 50px; /* 높이와 동일하게 설정하여 텍스트 가운데 정렬 */
}
