.region-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
  position: relative;
  padding-top: 50px;
}

/* 카드 영역 */
.region-card {
  width: 230px;
  height: 452px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.region-card:hover {
  transform: translateY(-5px);
}

.region-image-container {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.region-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.region-card-info {
  padding: 16px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.region-card-info h2 {
  font-size: 0.9rem;
  font-weight: bolder;
  margin-bottom: 8px;
}

.region-card-info p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.region-card-info .region-date-info {
  color: #999;
}

/* 필터 버튼 */
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-buttons button {
  background-color: transparent;
  border: 2px solid #F7B5CA;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  font-weight: 700;
}

.filter-buttons button:hover {
  background-color: #F7B5CA;
  color: #fff;
}

.filter-buttons button.selected {
  background-color: #F7B5CA;
  color: #fff;
}

/* sort 버튼 */
.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sort-buttons button {
  padding: 10px;
  border: none;
  color: black;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}

.sort-buttons button:hover {
  color: #F7B5CA;
}

.sort-buttons button.selected {
  color: #F7B5CA;
}

/* 반응형 카드 크기 조정 */
@media (min-width: 1200px) {
  .region-card {
    flex: 1 1 calc(25% - 30px); /* 4개 카드 한 줄 */
    max-width: calc(25% - 30px);
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .region-card {
    flex: 1 1 calc(33.33% - 30px); /* 3개 카드 한 줄 */
    max-width: calc(33.33% - 30px);
  }
}

/* 작은 화면에서 카드 크기를 키움 */
@media (max-width: 767px) {
  .region-card {
    flex: 1 1 calc(50% - 30px); /* 2개 카드 한 줄 */
    max-width: calc(70% - 30px); /* 45%로 카드 크기 증가 */
  }
}

@media (max-width: 500px) {
  .region-card {
    flex: 1 1 calc(90% - 30px); /* 카드 하나를 더 크게 */
    max-width: calc(90% - 30px); /* 80%로 카드 크기 증가 */
  }
}
