.card-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-info {
  padding-top: 16px;
}

.card-info h2 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.card-info .date-info {
  color: #999;
}

.image-container {
  position: relative;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  color: lightgray;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: background-color 0.2s;
}

.card-container:hover .favorite-button {
  display: flex;
}

.favorite-button.active {
  color: #f7b5ca;
}
