@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard-ExtraBold'),
    url('./fonts/Pretendard-ExtraBold.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pretendard-Regular', sans-serif !important;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item-title {
  margin-top: 80px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}

.image-container {
  width: 100%;
  aspect-ratio: 3 / 4; /* 3:4 비율 설정 */
}

/* 반응형 */
/* 1180 이하인 경우 */
@media screen and (max-width: 1180px) {
  .image-container {
    aspect-ratio: 1 / 1; /* 3:4 비율 설정 */
  }
}
