/* 공통 너비와 중앙 정렬 */
.container {
  max-width: 1280px; /* 상단 메뉴와 footer의 너비를 동일하게 */
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  padding: 0 30px; /* 좌우 패딩 */
  box-sizing: border-box;
}

/* 상단 메뉴 스타일링 */
.footer-top-menu {
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.footer-top-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* padding: 5px; */
}
.footer-top-menu-list-mobile {
  display: none;
}

.footer-top-menu-list a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: small;
}

.top-menu-list li a {
  text-decoration: none;
  color: #333;
}

.top-menu-list li a:hover {
  color: black;
  text-decoration: none;
}

/* 하단 정보 스타일링 */
.footer-main {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  color: #333;
  font-size: 13px;
  line-height: 1.6;
}

.footer-section1, .footer-section2, .footer-section3 {
  flex: 1;
  margin: 10px 0;
}

.footer-section1 h4, .footer-section2 h4, .footer-section3 h4 {
  font-size: 15px;
  margin-bottom: 2px;
  font-weight: bold;
}

.footer-section1 p , .footer-section2 p, .footer-section3 p {
  font-size: 13px;
  margin: 0;
  color: rgba(72, 72, 72, 0.854);
}
.text-gray {
  color: lightgray;
}

/* 하단 저작권 */
.footer-bottom {
  /* text-align: center; */
  margin-top: 20px;
  padding-top: 10px;
  font-size: 12px;
}

/* 반응형 디자인 */
@media (max-width: 910px) {
  .footer-top-menu {
    border: none;
  }
  .footer-top-menu-list {
    display: none;
  }
  .footer-top-menu-list-mobile {
    display: block;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
  }
  .footer-top-menu-list-mobile a {
    color: black;
    text-decoration: none;
    font-size: small;
  }
  .footer-section1 h4, .footer-section1 p, .footer-section2 p {
    font-size: small;
  }
  .footer-section1 p, .footer-section1, .footer-section2 {
    margin: 0;
  }
  .footer-section2 h4, .footer-section3 {
    display: none;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .footer-bottom p {
    font-size: x-small;
    color: lightgray;
    width: 22rem;
  }

}
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .top-menu-list {
    flex-direction: column;
    align-items: center;
  }

  .top-menu-list li:not(:last-child)::before {
    display: none;
  }
}
@media (max-width: 500px) {
  footer {
    padding-top: 1rem;
    background-color: #fafafa;
  }
  .detail-all {
    display: flex;
    flex-direction: column;
  }
  .detail-right {
    margin-left: 0;
    margin-top: 10px;
  }
  .d-flex {
    display: block !important;
  }
  
}