/* 공통 너비와 중앙 정렬 */
.container {
  max-width: 1280px; /* 상단 메뉴와 footer의 너비를 동일하게 */
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  padding: 0 30px; /* 좌우 패딩 */
  box-sizing: border-box;
}

/* 상단 메뉴 스타일링 */
.footer-top-menu {
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.footer-top-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.footer-top-menu-list a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: small;
}

.top-menu-list li a {
  text-decoration: none;
  color: #333;
}

.top-menu-list li a:hover {
  color: black;
  text-decoration: none;
}

/* 하단 정보 스타일링 */
.footer-main {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  color: #333;
  font-size: 13px;
  line-height: 1.6;
}

.footer-section {
  flex: 1;
  margin: 10px 0;
}

.footer-section h4 {
  font-size: 15px;
  margin-bottom: 2px;
  font-weight: bold;
}

.footer-section p {
  font-size: 13px;
  margin: 0;
  color: rgba(72, 72, 72, 0.854);
}
.text-gray {
  color: lightgray;
}

/* 하단 저작권 */
.footer-bottom {
  /* text-align: center; */
  margin-top: 20px;
  padding-top: 10px;
  font-size: 12px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .top-menu-list {
    flex-direction: column;
    align-items: center;
  }

  .top-menu-list li:not(:last-child)::before {
    display: none;
  }
}
