/* 공통 너비와 중앙 정렬 */
.container {
  max-width: 1280px; /* 상단 메뉴와 footer의 너비를 동일하게 */
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  padding: 0 30px; /* 좌우 패딩 */
  box-sizing: border-box;
}

/* 상단 메뉴 스타일링 */
.footer-top-menu {
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.top-menu-list {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-menu-list li {
  font-size: 14px;
  flex-grow: .5;
  position: relative;
  padding-right: 15px; /* 우측에 여백 추가 */
}

.top-menu-list li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 1.5px;
  background-color: #ddd;
}

.top-menu-list li a {
  text-decoration: none;
  color: #333;
}

.top-menu-list li a:hover {
  color: black;
  text-decoration: none;
}

/* 하단 정보 스타일링 */
.footer-main {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  color: #333;
  font-size: 14px;
  line-height: 1.6;
}

.footer-section {
  flex: 1;
  margin: 10px 0;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
}

/* 하단 저작권 */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 12px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .top-menu-list {
    flex-direction: column;
    align-items: center;
  }

  .top-menu-list li:not(:last-child)::before {
    display: none;
  }
}
