.nav-top {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
.nav-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 600px;
}
.nav-input-box {
  width: 100%;
  max-width: 600px;
  height: 50px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .129);
  border: 1px solid lightgray;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  padding-left: 20px;
  padding-right: 20px;
}
.nav-input-box input {
  width: 100%;
  outline: none;
  border: none;
  display: flex;
}
.nav-favorite-button {
  background-color: #e4ccfd;
  border: none;
  color: white;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
  display: none;
}
.nav-favorite-button:hover {
  background-color: #bd83fa;
}
.nav-logo, .nav-search-icon, .nav-top-items > span, .nav-bottom span {
  cursor: pointer;
}
.nav-logo-mobile {
  display: none;
}
.nav-top-items > span:hover {
  color: lightgray;
}
.nav-bottom > span:hover {
  border-bottom: 2px solid #000;
}
.nav-bottom .main-color:hover {
  border-bottom: 2px solid #F7B5CA;
}
.nav-top-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.nav-top-items a ,.nav-bottom span {
  color: black;
  text-decoration: none;
  margin: 10px;
}
.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bottom span {
  font-weight: bold;
}
.main-color {
  color: #F7B5CA !important;
}
.sub-color {
  color: #E4CCFD !important;
}
.text-gray {
  color: lightgray !important;;
}

/* 반응형 : 1090 이하인 경우 */
@media screen and (max-width: 1200px) {
  .nav-top-items a,
  .nav-top-items span {
    display: none;
  }
  .nav-favorite-button {
    display: block ;
  }
  .nav-input, .nav-input-box {
    width: 100%;
    max-width: 45rem;
  }
}
@media screen and (max-width: 993px) {
  .nav-bottom {
    display: none;
  }
}
@media (max-width: 600px) {
  .nav-top {
    gap: 10px;
  }
  .nav-logo-mobile {
    display: block;
    cursor: pointer;
  }
  .nav-logo-mobile img {
    width: 50px;
  }
  .nav-logo {
    display: none;
  }
}