.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}.nav-logo-search-area {
  display: flex;
  align-items: center;
}.nav-input-box {
  width: 450px;
  height: 50px;
  /* max-width: 450px; */
  box-shadow: 0 2px 15px rgba(0, 0, 0, .129);
  border: 1px solid lightgray;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  padding-left: 20px;
  padding-right: 20px;

}
.nav-input-box input {
  outline: none;
  border: none;
  display: flex;
}
.nav-search-icon {
  cursor: pointer;
}
.nav-top-items a ,.nav-bottom a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
}

.main-color {
  color: #F7B5CA !important;
  font-weight: bold;
}
.sub-color {
  color: #E4CCFD !important;
  font-weight: bold;
}
.text-gray {
  color: lightgray !important;;
}